<!DOCTYPE html>
<html>
    <head>
        <title>Cluster your music</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    </head>
    <body>

        <h1>Welcome To <b>I HATE GENRES</b>  Application</h1>
        <br>
        <form action="/" method="POST">
        
            <input  placeholder="Spotify_username" name="username" type="text">
            <input placeholder="Playlist_uri" name="uri" type="text">
            <input placeholder="Client_id" name="client_id" type="text">
            <input  placeholder="Client_secret" name="client_secret" type="text">
            <input type="submit">
        </form>
        <br>
        <img src="../static/img/clusters-v.png" alt="Clusters Will be displayed here">


        <p> {{ message }} </p>






        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </body>
</html>